{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "TrailingCooma": "all",
    "bracketSpacing": true,
    "printWidth": 100,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "jsxBracketSameLine": false,
    "htmlWhitespaceSensitivity": "strict",
    "vueIndentScriptAndStyle": false,
    "endOfLine": "auto",
    "embeddedLanguageFormatting": "auto",
    "arrowParens": "always",
    "bracketSameLine": false
}
