@charset "utf-8";

// styles/element/index.scss

/* 只需要重写你需要的即可 */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': green,
    ),
    'success': (
      'base': #21ba45,
    ),
    'warning': (
      'base': #f2711c,
    ),
    'danger': (
      'base': #db2828,
    ),
    'error': (
      'base': #db2828,
    ),
    'info': (
      'base': #42b8dd,
    ),
  )
);

// 如果只是按需导入，则可以忽略以下内容。
// 如果你想导入所有样式:
// @use "element-plus/theme-chalk/src/index.scss" as *;

// element-plus颜色定制化
:root {
  // --el-color-primary: #47ba80;
  // --el-menu-hover-bg-color: #fff !important;
}

/* stylelint-disable-next-line */
.el-button--primary {
}

.el-menu-item.is-active {
  background-color: #2e466a71;
}
