@charset "utf-8";

// 引入重置样式
@import './reset';

// 动画
@import './transition';

@import './src/styles/variable';

@tailwind base;
@tailwind components;
@tailwind utilities;

// 公共样式

// 整个滚动条
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

// 滚动条上的滚动滑块
::-webkit-scrollbar-thumb {
  background-color: #47ba80;
  border-radius: 6px;

  &:hover {
    background-color: #68f2ad;
  }
}

// 滚动条上的按钮
::-webkit-scrollbar-button {
  display: none;
}

body {
  // color: $base-text-color;
}
